[submodule "tmux-powerline"]
	path = .tmux/plugins/tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "tmux-continuum"]
	path = .tmux/plugins/tmux-continuum
	url = git://github.com/tmux-plugins/tmux-powerline.git
