URxvt.font: xft:UbuntuMono\ Nerd\ Font\ Mono:bold:size=18

urxvt*foreground: #f2f2f2
urxvt*background: #101010

! Normal
! color0    black
! color1    red
! color2    green
! color3    yellow
! color4    blue
! color5    purple
! color6    cyan
! color7    white

urxvt*color0:    #6c6c6c
urxvt*color1:    #e9897c
urxvt*color2:    #b6e77d
urxvt*color3:    #ecebbe
urxvt*color4:    #a9cdeb
urxvt*color5:    #ea96eb
urxvt*color6:    #c9caec
urxvt*color7:    #f2f2f2

! Light
! color8    black
! color9    red
! color10    green
! color11    yellow
! color12    blue
! color13    purple
! color14    cyan
! color15    white

urxvt*color8:    #747474
urxvt*color9:    #f99286
urxvt*color10:    #c3f786
urxvt*color11:    #fcfbcc
urxvt*color12:    #b6defb
urxvt*color13:    #fba1fb
urxvt*color14:    #d7d9fc
urxvt*color15:    #e2e2e2
! URxvt.transparent: true
URxvt.transparent: false

URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollBar_floating: false
URxvt.scrollstyle: rxvt


!-*- Perl extensions -*-
URxvt.perl-lib: /home/jordan/.urxvt/ext/
URxvt.perl-ext-common: default,selection-to-clipboard,matcher,keyboard-select,tabbedex
! URxvt.perl-ext: tabbedex

! URxvt.tabbed.tabbar-fg: <colour-index, default 3>
! URxvt.tabbed.tabbar-bg: <colour-index, default 0>
! URxvt.tabbed.tab-fg:    <colour-index, default 0>
! URxvt.tabbed.tab-bg:    <colour-index, default 1>


URxvt.keysym.M-u:     perl:url-select:select_next
URxvt.url-launcher:   /usr/bin/firefox
URxvt.underlineURLs:  True
URxvt.matcher.button: 1
URxvt.keysym.M-Escape:perl:keyboard-select:activate
URxvt.keysym.Control-Shift-V:     perl:pasta:paste
! Comment this if you dont want copy when text is selected
URxvt.clipboard.autocopy: true

! ! Resize on the fly
! urxvt.perl-ext-common: default,tabbed,matcher,resize-font,-tabbed


! xterm*font: UbuntuMono Nerd Font-12

xterm*faceName: UbuntuMono Nerd Font
xterm*faceSize: 14


rofi.color-enabled: true
rofi.color-window: #393939, #393939, #268bd2
rofi.color-normal: #393939, #ffffff, #393939, #268bd2, #ffffff
rofi.color-active: #393939, #268bd2, #393939, #268bd2, #205171
rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c



